/* CSS Document */

/* TOC
 * RESET STYLES
 * FONT FACE (IF USED)
 * HTML
 * BODY
 * HEADER
 * NAVIGATION
 * PAGE
 * FOOTER
 * FORMS
 * PLUGINS
 * PRINT STYLES
 * MEDIA QUERIES
---------------------------------------------------------------------------*/

/* RESET STYLES
---------------------------------------------------------------------------*/
html { overflow-y: scroll; }
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; /*1.231 will be multiplied by current font size and make 16px line height */
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
button, input, select, textarea { color: #222; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { /* Safari Reset as Safari does not recognise quotes property */
  content: '';
  content: none;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

p { margin:0; padding:0;}
a {
  margin:0;
  padding:0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration:none;
}
a:hover, a:active {
  outline: 0;
  text-decoration:underline;
}
img{ max-width:100%; }
a img { border:0 none; }
del { text-decoration: line-through; color: #ed1c24; }
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
small { font-size: 85%; }
.clickable, label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
button { /* make buttons play nice in IE */
  width: auto;
  overflow: visible;
}
table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td { font-weight: normal; }
td, td img { vertical-align: top; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
dd { margin: 0 0 0 40px; }
ul, ol {
  margin: 0;
  padding: 0;
  list-style:none;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
h1 { font-size:42px; }
h2 { font-size:32px; }
h3 { font-size:28px; }
h4 { font-size:24px; }
h5 { font-size:22px; }
h6 { font-size:18px; }
.section{ margin:0 auto; }
.lineBreak{ width:3px; height:9px; display:block; margin:0 auto; }
.whiteHead, .blackHead{ font-size: 16px; font-weight: bold; margin: 0 auto 34px; width: 62px; height: 40px; padding: 22px 7px; text-align: center; line-height: 1.2; }
a.yellow{ color:#facf33; }
a.voilet{ color:#7b4c94; }
a.green{ color:#54c2b6; }
a.pink{ color: #ea3f59; }
a.blue{ color:#30a4dc; }
a.lightGreen{ color:#19dcc3; }

h1.whiteHead{ color:#333; background:url('images/heading-bg-white.png') no-repeat 0 0; }
h1.blackHead{ color:#fff; background:url('images/heading-bg-black.png') no-repeat 0 0; line-height: 1.5; }

/* FONT FACE (IF USED)
---------------------------------------------------------------------------*/

/* HTML
---------------------------------------------------------------------------*/
html {}

/* BODY
---------------------------------------------------------------------------*/
body { background-color:#fff; font-size:13px; color:#333333; }

/* HEADER
---------------------------------------------------------------------------*/
#header > div{ background-color:#333333; }
#header{ position: fixed;  width: 100%; z-index:9998; transition: all 1s linear; }
#header.fixed{ margin-top:-67px; }
/* Header Shadow */
#header:after{
  content:'';
  width:100%;
/*  background:transparent url('images/header-shadow.png') repeat-x;*/
  display:block;
  height:25px;
  position:absolute;
  z-index:98;
}
#header nav{ margin-top: 84px; }
#header nav,
#header nav li,
#logo{ float:left; position:relative; }
#logo { margin:8px 47px 0; }
#twitter, #github { float:right; }
#github {margin-right: 28px;}
#github img {width: 28px;}
#header li a{ color:#bebebe; font-size:15px; text-transform:uppercase; font-weight:700; }
#header li a:hover{ text-decoration:none; }
#header li a.middle{ padding:0 41px; position:relative; }
#header li a.middle:before,
#header li a.middle:after{
  content:'';
  position:absolute;
  display:block;
  background:#bebebe;
  width:13px;
  height:2px;
  top:10px;
}
#header li a.middle:before{ left:16px; }
#header li a.middle:after{ right:15px; }
#twitter { margin-top:-34px; }
#github { margin-top:-35px; }
#logo span > img{ position:absolute; bottom: -16px; left: 44px; z-index:99; }
#mobileMenu{ display:none; }
#headerFix{ height:115px; background-color:#333333; }


/* NAVIGATION
---------------------------------------------------------------------------*/


/* PAGE
---------------------------------------------------------------------------*/
/*
#slide1{ background:url('images/home.jpg') no-repeat center center; padding-bottom:34px; }
#slide1 .imgWrap{ display:table; width: 100%; }
#slide1 .imgWrap > div{ display:table-cell; vertical-align:middle; }
#slide1 .imgWrap img{ max-width:90%; margin:0 auto; display:block; }

#slider > div{ height:100%; max-width:100%; }
#slide_1{ background:url('images/000.jpg') no-repeat center center; background-size:cover; }
#slide_2{ background:url('images/001.jpg') no-repeat center center; }
#slide_3{ background:url('images/002.jpg') no-repeat center center; }
#slide_4{ background:url('images/003.jpg') no-repeat center center; }
#slide_5{ background:url('images/004.jpg') no-repeat center center; }
#slide_6{ background:url('images/005.jpg') no-repeat center center; }
#slide_7{ background:url('images/006.jpg') no-repeat center center; }
#slide_8{ background:url('images/007.jpg') no-repeat center center; }
#slide_9{ background:url('images/008.jpg') no-repeat center center; }
#slide_10{ background:url('images/010.jpg') no-repeat center center; }
*/
#slide1 .next{ text-align:center; position:relative; top:-70px; z-index:9996; }
#slide1 .next a{ margin:0 auto; width:36px; height:36px; display:block; }
#slides > img { display:none; }
#slides > img:first-child { display:block; }

#slide2{ background-color:#85cc00; padding:254px 0 57px; text-align:center; }
#slide2 > div{ width:878px; margin:0 auto; }
#slide2 > div > img{ margin-bottom:10px; }
#slide2 form{ margin-bottom: 30px; }
#slide2 form p{ font-size: 21px; color: #fff; margin-bottom: 29px; }
#slide2 form p img{ position:relative; top:3px; padding: 0 7px 0 7px; display:inline-block; }
#slide2 p{ font-size:19px; color:#333; }
#slide2 .lineBreak{ background-color:#333; margin:53px auto 140px; }

#slide3{ padding-top:101px; text-align:center; background-color:#333;}
#slide3 p{ color:#fff; line-height:1.5; font-size:18px; }
#slide3 p a{ font-weight:bold; text-decoration:underline; }
#slide3 .lineBreak{ background-color:#fff; margin:30px auto 40px; }
#avatars{ overflow:hidden; }
#avatars > img{ max-width:1920px; position:relative; display: block; margin: 0 auto; }

#slide4 h1{ line-height: 2.5; }
#slide4{ padding:101px 0 0 0; }
#slide4 .lineBreak{ background-color:#333; height:17px; margin:30px auto; }
#slide4 h2{ font-size:25px; color:#333; }
#accordian{ width:655px; margin: 0 auto; }
#accordian h3{ padding: 45px 0 45px 35px; font-size: 245%; cursor:pointer; }
#accordian h3 > img{ margin: 0 16px 0px -45px; position: relative; top: 4px; }
#accordian h3.clicked:after{ content:''; width:665px; height:15px; background:url('images/faq-arrow.jpg') no-repeat 0 0; display:block; top: 30px; position: relative; left: -25px; }
.accContent{ padding: 25px 100px 48px 28px; background:url('images/answer-bg.png') no-repeat center bottom; font-size:16px; line-height:1.5; position:relative; }
.accContent .arrow{ display:block; position: relative; top: -52px; margin:0 auto; }
#accordian > div{ border-top: 1px solid #333; }
.accContent.last{ border-bottom: 1px solid #333; }
#accordian > div:first-child{ border-top:none; }


#slide5{ background:#333; color:#fff; padding:30px 0 54px 0; }
#slide5 h1{ line-height:1.3; }
#slide5 .logo{ text-align:center; }
#slide5 h2{ font-weight:bold; margin-bottom:18px; }
#slide5 .col-2 h2{ margin-bottom: -3px; }
#slide5 .content p{ font-size:16px; line-height:1.6; }
#slide5 .content > .col-1{ width:57%; float:left; margin-right:4%;}
#slide5 .content > .col-2{ width:39%; float:right; }

#slide6{ padding:101px 0 0 0; font-size:18px; line-height:1.5; }
#slide6 .error{ border-bottom:1px solid #969696; }
#slide6 .error > img{ float: left; margin-right: 5.5%; }
#slide6 .error p{ margin-top:12px; }
#slide6 .info{ text-align:center; }
#slide6 .info p{ margin-bottom:30px; }
#slide6 .info a{ text-decoration:underline; font-weight:bold; }
#slide6 .info img{ display:block; margin:0 auto; }
#slide6 .info .monitor{ margin-bottom:30px; }
#slide6 .info .divider{ margin:40px auto 45px; }
#slide6 .lineBreak{ background-color:#333; height:17px; margin:0 auto 40px; }

/* FOOTER
---------------------------------------------------------------------------*/

/* FORMS
---------------------------------------------------------------------------*/
#slide2 input[type="email"]{ width:453px; height:19px; border:none; margin:0 4px 0 0px; outline:none; border-radius:3px; padding:10px; font-size: 18px; font-weight: normal;}
#slide2 input[type="submit"]{ width:137px; height:39px; color:#fff; font-size:15px; background-color:#333; border:none; border-radius:3px; font-weight: bold; outline:none; }

#slide5 form .col-1{ width:49%; float:left; margin-right:2%; }
#slide5 form .col-2{ width:49%; float:right; }
#slide5 ul{ margin-top:40px; margin-left: -32px; }
#slide5 li{ font-size:16px; line-height:2.5; font-weight:bold; }
#slide5 li a{ color:#fff; }
#slide5 li img{ position: relative; top: 7px; margin-right: 12px; }
#slide5 label{ margin:9px 7px 3px; display:block; }
#slide5 input{ border:none; outline:none; border-radius:4px; }
#slide5 input[type="text"]{ width:87%; padding:7px 7px 6px; }
#slide5 input[type="email"]{ width:94%; padding:7px 7px 6px; }
#slide5 textarea{ width:96%; height:124px; resize:none; border-radius:4px; outline:none; }
#slide5 input[type="submit"]{ background-color: #74498a; color: #fff; width: 137px; height: 39px; font-weight: bold; font-size: 15px; margin-top: 10px; }

/* PLUGINS
---------------------------------------------------------------------------*/

/* MEDIA QUERIES
---------------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
  .headerInner{ width:1260px; margin: 0 auto; }
  header > .section{ width:878px; }
  #twitter, #github { float:right; }
}
@media screen and (min-width: 985px) and (max-width:1280px) {
  .headerInner{ width:96%; padding:0 2%; }
}
@media screen and (max-width: 985px){
  #header nav,
  #logo span,
  #avatars{ display:none; }
  #logo{ margin: 5px auto; float: none; width: 130px; text-align: center; z-index: 9999; }
  #logo img{ width:80%; }
  #twitter, #github { float:right; margin-right:10px; margin-top: -52px; }
  #github { margin-right: 38px;}
  #header.fixed{ margin-top:0; }
  #headerFix{ height:81px; }
  .headerInner{ position:relative; }
  #mobileMenu{ display:block; float:left; position:absolute; top:0; left: 3%; text-align: center; width:156px; }
  #mobileMenu ul{ display:none; background: #000; padding: 10px 20px; border-radius: 6px; margin-top: 20px; z-index: 9999; position: relative; }
  #mobileMenu ul:before{ content:''; position: absolute; top: -7px; left: 21px; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #000; }
/*  #mobileMenu ul li{ margin-bottom:7px; } */
  #mobileMenu > a{ color:#fff; padding:7px; background:#000; display:block; text-transform:uppercase; width:60px; margin: 26px 0 0; border-radius: 4px; text-decoration:none; }
  #mobileMenu ul li a{ display:block; padding:5px 0; }
  #slide3{ padding-bottom:5%;}
}
@media screen and (min-width: 994px) {
  .section{ width:878px; }

  #slide1 .imgWrap{ height:794px; }
  #slide6 .info{ width: 862px; margin: 0 auto; }
  #slide6 .error{ width: 829px; margin: 0 auto 100px; padding: 7px 62px 30px 87px; }
  #slide5 .content{ width:950px; margin:50px auto 100px; }
}
@media screen and (max-width: 994px) {
/*  #slide1{ padding:10% 0 3%; } */
  #slide1{ padding:0; }

  #slide2{ padding:19.5% 0 4.5%; }
  #slide2 > div,
  #slide3 p{ width:92%; margin:0 auto; }

  #slide2 .lineBreak{ margin: 6% auto 16%; }

  #slide3 p br{ display:none; }

  #slide5 .content{ width:100%; }
  #slide5 .content > .col-1,
  #slide5 .content > .col-2{ width:90%; margin:0 auto; float:none; }
  #slide5 ul{ margin:10px 0 50px 0; }
  #slide5 input[type="text"]{ width:94%; }
  #slide5 input[type="email"]{ width:97%; }
  #slide5 textarea{ width:98%; }

  #slide6 .error{ padding: .7% 7% 3% 9.5%; width: 82.2%; margin: 0 auto 10%; }
  #slide6 .info{ width:92%; margin:0 auto; }
}

@media screen and (max-width: 700px){
  #slide1 .imgWrap img{ width:90%; max-width:90%; }

  #slide2 input[type="email"]{ width:90%; }
  #slide2 input[type="submit"]{ margin-top:10px; }

  #slide3{ padding-bottom:7%; background-image:none; }

  #accordian{ width: 91%; margin: 0 3% 0 6%; }
  #accordian h3{ font-size:155%; padding:5% 0 5% 4%; }
  #accordian h3 > img{ position: relative; top: 10px; }
  .accContent{ padding: 25px 10px 30px 10px;  }
  #accordian h3.clicked:after{ width:100%; background-position: center center;left:0; }

  #slide6 .info .monitor{ width:75%; max-width:75%; }
}

@media screen and (max-width: 480px){
  #slide2{ padding-top:121px; }
  #slide3,
  #slide4,
  #slide5,
  #slide6{ padding-top:101px; }
  .whiteHead, .blackHead{ margin-bottom:5%; }

  #slide1 .next{ display:none; }

  #slide2 .lineBreak { margin: 6% auto 6%; }

  #slide5 .content > .col-2{ margin-bottom:10%; }

  #slide6 .error{ padding-bottom:10%; text-align:center; }
  #slide6 .error > img{ display:block; margin:0 auto; float:none; }
  #accordian h3{ padding: 5% 0 5% 5%; }
  #accordian h3 > img{ margin:0 12px 0px -40px; }

}
@media screen and (max-width: 320px){
  #slide2 form p { font-size: 20px; line-height: 1.5; }
  #slide2 form p img{ max-width: 60%; top:1px; }

  #accordian h3{ font-size:140%; padding-left:0; }
  #accordian h3 > img{ display:none; }

  #slide5 input[type="text"]{ width:87%; }
  #slide5 input[type="email"]{ width:93.5%; }
  #slide5 textarea{ width:96.5%; }
}
@media screen and (max-width: 480px) and (orientation: landscape){
  #header.fixed,
  #header{ position:static !important; }
  #headerFix{ display:none; }
  #slide3,
  #slide4,
  #slide5,
  #slide6{ padding-top:10%; }
  #slide1{ height:227px; }
}