/* CSS Document */

/* TOC 
 * RESET STYLES
 * FONT FACE (IF USED)
 * HTML
 * BODY
 * HEADER
 * NAVIGATION
 * PAGE
 * FOOTER
 * FORMS
 * PLUGINS
 * PRINT STYLES
 * MEDIA QUERIES
---------------------------------------------------------------------------*/


/* RESET STYLES
---------------------------------------------------------------------------*/
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	font-size: 13px;
	line-height: 1.231; /*1.231 will be multiplied by current font size and make 16px line height */
	min-height:100%;
	font-family: sans-serif;
	color: #222;
} 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
button, input, select, textarea {
	font-family: sans-serif; /*Probably Helvetica for Linux/Mac Systems And Arial for Windows PC*/
	color: #222;
} 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after { /* Safari Reset as Safari does not recognise quotes property */
	content: '';
	content: none;
} 
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000; 
	cursor: help;
}
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

p {
	margin:0;
	padding:0;
}
a {
	margin:0;
	padding:0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a:hover, a:active {
	outline: 0;
}
a img {
	border:0 none;
}
del {
	text-decoration: line-through;
	color: #ed1c24;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
small {
	font-size: 85%;
}
.clickable, label, input[type=button], input[type=submit], button {
	cursor: pointer; /* hand cursor on clickable elements */
}
button, input, select, textarea {
	margin: 0; /* Webkit browsers add a 2px margin outside the chrome of form elements */
}
button { /* make buttons play nice in IE */
	width: auto;
	overflow: visible;
}
table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
	vertical-align: bottom;
}
td {
	font-weight: normal;
}
td, td img {
	vertical-align: top;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1;
}
dd {
	margin: 0 0 0 40px;
}
ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
h1 {
	font-size:42px;
}
h2 {
	font-size:34px;
}
h3 {
	font-size:28px;
}
h4 {
	font-size:24px;
}
h5 {
	font-size:22px;
}
h6 {
	font-size:18px;
}
/* FONT FACE (IF USED)
---------------------------------------------------------------------------*/

/* HTML
---------------------------------------------------------------------------*/
html {
	background-color:#ffd;
}

/* BODY 
---------------------------------------------------------------------------*/
body {
	width:980px;
	margin:0 auto;
	background-color:#fff;
}

/* HEADER
---------------------------------------------------------------------------*/
header {
	height:100px;
}

/* NAVIGATION
---------------------------------------------------------------------------*/
aside {
	float:left;
	width:200px;
}

/* PAGE
---------------------------------------------------------------------------*/
article {
	float:right;
	width:780px;
}

/* FOOTER
---------------------------------------------------------------------------*/
footer {
	text-align:center;
	margin-top:50px;
	height:50px;	
}

/* FORMS
---------------------------------------------------------------------------*/

/* PLUGINS
---------------------------------------------------------------------------*/


/* PRINT STYLES
---------------------------------------------------------------------------*/
@media print {

}


/* MEDIA QUERIES
---------------------------------------------------------------------------*/
@media screen and (max-device-width: 480px) { }
@media all and (orientation: portrait) { }
@media all and (orientation: landscape) { }