// global-reset()
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}