doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1', name='viewport')
    title #{title ? title + ' | ' : ''}DemocracyOS
    link(rel='shortcut icon' type='image/x-icon' href='/img/favicon.png')
    link(rel='apple-touch-icon' href='/img/favicon.png')
    link(rel='stylesheet', type='text/css', href='/css/app.css')
  body
    block content
    script(src='/js/app.js')
