.header
  position: absolute
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 10

  .logo
    display: inline-block
    padding: 20px
    width: 60px
    height: 60px
    background-size: 40px
    background-repeat: no-repeat
    background-position: center center
    background-image: url('../img/isologo-dark.png')
